.grid-container{
display: grid;
grid-template-columns: 1fr ;
/*grid-template-rows: repeat(8, 1fr);/*als je 3 columns bij 4 rows aan geeft dan moet het ook bij areas*/ */
height: 700px;

grid-template-areas:
      "title"
      "menu"
      "main"
      "crown"
      "facebook"
      "contact"
      "social"
      "copy";
}
.header{
  grid-area: title;
}
#menu{
  grid-area: menu;
}
.main{
  grid-area: main;
}
.ad1{
  grid-area: crown;
}
.ad2{
  grid-area: facebook;
}
.ad3{
  grid-area: contact;
}
.foot1{
  grid-area: social;
}
.foot2{
  grid-area: copy;
}
header{
  display: flex;
  flex-flow: row;
  align-items: center;
}
.logo{
  padding: 0.5em 1em;
}

.menutoggle{
  margin-left: auto;/*hamburger staat nu rechts*/
}
.menutoggle a{
  font-size: 2em;
  color:#E99B00;
  text-decoration: none;
  padding-right: 0.5em;
}

.active{
/*  display: initial;/*betekent laat zien*/
max-height: 400px;
transition: max-height 0.7s;
}
.inactive{
  /* display: none; */
  max-height: 0px;
  transition: max-height 0.7s;
}
/*
  Nav styles
*/

nav {
  padding: 0;
  margin: 0;
}

nav ul {
  display: flex;
  flex-flow: column /*wrap*/;/*menu items staan nu onder elkaar*/
  width: 100%;
  padding: 0;
  margin: 0;
}

nav ul li {
  flex-grow: 1;
  display: flex;
  padding: 0.4em;
  margin: 0.4em;
  list-style: none;
  justify-content: center;
  border-radius: 0.4em;
}

nav ul li:hover {
  text-shadow: 1px 1px 1px #262626;
}

nav > ul > li > a {
  color: #fff;
  text-decoration: none;/*geen lijntjes bij hover*/
}


@media only screen and (min-width: 401px)and (max-width: 639px){
  .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "title    title"
    "menu     menu"
    "main     main"
    "facebook crown"
    "facebook contact"
    "facebook social"
    "copy     copy";
  }
  .logo{
    display: block;
    margin: 0 auto;
    padding: 0.5em 0em;
  }
  nav ul {
      display: flex;
      flex-flow: row /*wrap*/;/*menu items staan nu naast elkaar*/
      width: 100%;
      padding: 0;
      margin: 0;
    }
  nav ul li {
      flex-grow: 1;
  }
  .menutoggle{
    display: none;
  }
  .active, .inactive{
    /* display: initial; */
    max-height: initial; /*initial is zoals het normaal zou moeten doen*/
  }
  #map{
    display: none;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1023px){
  .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
    "title    title    title"
    "menu     menu     menu"
    "main     main     crown"
    "main     main     facebook"
    "main     main     facebook"
    "contact  contact  social"
    "copy     copy     copy";
  }
  .logo{
    display: block;
    margin: 0 auto;
    padding: 0.5em 0em;
  }
  nav ul {
      display: flex;
      flex-flow: row /*wrap*/;/*menu items staan nu naast elkaar*/
      width: 100%;
      padding: 0;
      margin: 0;
    }
  nav ul li {
      flex-grow: 1;
  }
  .menutoggle{
    display: none;
  }
  .active, .inactive{
    /* display: initial; */
    max-height: initial; /*initial is zoals het normaal zou moeten doen*/
  }
  #map{
    display: none;
  }
}

@media only screen and (min-width: 1024px){
  .grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
    "title    title    title"
    "menu     menu     menu"
    "crown    main     facebook"
    "contact  main     facebook"
    "contact  main     social"
    "copy     copy     copy";
  }
  .logo{
    display: block;
    margin: 0 auto;
    padding: 0.5em 0em;
  }

  nav ul {
      display: flex;
      flex-flow: row /*wrap*/;/*menu items staan nu naast elkaar*/
      width: 100%;
      padding: 0;
      margin: 0;
    }
  nav ul li {
      flex-grow: 1;
  }
  .menutoggle{
    display: none;
  }
  .active, .inactive{
    /* display: initial; */
    max-height: initial; /*initial is zoals het normaal zou moeten doen*/
  }

}
