.grid-container{
display: grid;
grid-template-columns: 1fr ;
/* grid-template-rows: repeat(9, 1fr);/*als je 3 columns bij 4 rows aan geeft dan moet het ook bij areas*/ */
height: 600px;

grid-template-areas:
      "title"
      "menu"
      "main"
      "crown"
      "facebook"
      "archief"
      "contact"
      "social";
}
.header{
  grid-area: title;
}
#menu{
  grid-area: menu;
}
.main{
  grid-area: main;
}
.ad1{
  grid-area: crown;
}
.ad2{
  grid-area: facebook;
}
.foot1{
  grid-area: contact;
}
.foot2{
  grid-area: social;
}
header{
  display: flex;
  flex-flow: row;
  align-items: center;
}
.menutoggle{
  margin-left: auto;/*hamburger staat nu rechts*/
}
.menutoggle a{
  font-size: 2em;
  color:#fff;
  text-decoration: none;
}

.active{
/*  display: initial;/*betekent laat zien*/
max-height: 400px;
transition: max-height 0.7s;
}
.inactive{
  /* display: none; */
  max-height: 0px;
  transition: max-height 0.7s;
}
/*
  Nav styles
*/

nav {
  padding: 0;
  margin: 0;
}

nav ul {
  display: flex;
  flex-flow: column /*wrap*/;/*menu items staan nu onder elkaar*/
  width: 100%;
  padding: 0;
  margin: 0;
}

nav ul li {
  flex-grow: 1;
  display: flex;
  padding: 0.4em;
  margin: 0.4em;
  list-style: none;
  justify-content: center;
  border-radius: 0.4em;
  /*background-color: rgba(255, 255, 255, 0.2);*/
}

nav ul li:hover {
  background-color: rgba(50, 50, 50, 0.5);
}

nav > ul > li > a {
  color: #FFF;
  text-decoration: none;/*geen lijntjes bij hover*/
}

@media only screen and (min-width: 601px){
  .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-gap: 10px; */
    grid-template-areas:
    "title    title    title"
    "menu     menu     menu"
    "main     main     crown"
    "main     main     facebook"
    "contact  contact  social";
  }

  nav ul {
      display: flex;
      flex-flow: row /*wrap*/;/*menu items staan nu naast elkaar*/
      width: 100%;
      padding: 0;
      margin: 0;
    }
  nav ul li {
      flex-grow: 1;
  }
  .menutoggle{
    display: none;
  }
  .active, .inactive{
    /* display: initial; */
    max-height: initial; /*initial is zoals het normaal zou moeten doen*/
  }
}
