@import url('https://fonts.googleapis.com/css?family=PT+Sans');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after{
  box-sizing: inherit;
}

body{
  background-color: #262626;
  color: #262626;
  font-family: 'PT Sans', verdana, sans-serif;/*verander font*/
  font-size: 16px;
}
p{
  padding: 0.2em 1em;
}
h1 {
  text-align: center;
  font-size: 20px;
}

h2 {
  font-size: 1em;
  font-weight:bold;
  padding: 0.4em 1em;
  border-radius: 0.2em;
}
img {
  width: 100%;
  margin: 0;
}

.grid-item {
  /* padding: 0.2em 1em; */
}

.header{
    background-color: #fff;
}
.main{
    background-color: #fff;
}
#menu{
    background-color: #E99B00;
}
.ad1{
    background-color: #fff;
}
.ad2{
    background-color: #fff;
}
.ad3{
    background-color: #fff;
}
.foot1{
    background-color: #fff;
}
.foot2{
    background-color: #E99B00;
}
